<%= form_tag("/login") do %>
    <div style="width: 1000px; height: 1000px">
        <div class="nav-bar"><label style="font-color: white">Login</label></div>
        <div><div>Client:</div><input type="text" id="client" name="client"></div>
        <div><div>User:</div><input type="text" id="userid" name="userid"></div>
        <div><div>Password:</div><input type="password" id="password" name="password"></div>
        <div><%= submit_tag("Login", class: "btn")%></div>
    </div>
<% end %>