<%= form_tag("/login") do %>
    <div style="width: 1000px; height: 50px">
        <div class="nav-bar"><label style="font-color: white">Login</label></div>
        <div><label>Client</label><input type="text" id="client" name="client"></div>
        <div><label>User</label><input type="text" id="userid" name="userid"></div>
        <div><label>Password</label><input type="password" id="password" name="password"></div>
        <div><%= submit_tag("Login")%></div>
    </div>
<% end %>