<%= form_tag("/login") do %>
    Login
  <label>Client......:</label><input type="text" id="client" name="client"></br>
  <label>User........:</label><input type="text" id="userid" name="userid"></br>
  <label>Password.:</label><input type="password" id="password" name="password"></br>
  <label>Placeholder.:</label><input type="text"></br>
  <%= submit_tag("Login") %>
<% end %>    