<!DOCTYPE html>
<html>
<head>
  <title>WMSRF</title>
  <%= csrf_meta_tags %>
  <style>
      body {font:.8em Futura, ‘Century Gothic’, AppleGothic, sans-serif;}
      input[type=submit] {
          font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
